<div class="container">
  <h3 class="text-center">Contactanos</h3>
  <%= form_for "/contacts" do |f| %>
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
    
    <%= f.label :email %>
    <%= f.text_field :email %>
    
    <%= f.label :comentario %>
    <%= f.text_area :commentario %>
    
    <%= f.submit 'Enviar' %>
  <% end %>
</div>