<!DOCTYPE html>
<html>
  <head>
    <title>Magas del Sur</title>
    <%= csrf_meta_tags %>
    <link href="//fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class='container'>
        <div class="text-center container-fluid">
          <%= image_tag("magas-logo.png", :alt => "magas logo", :size => "286x231") %>
        </div>
        <ul class="nav navbar-nav alignment">
          <li><a href="/about">Quienes somos</a></li>
          <li><a href="/contact-us">Contactenos</a></li>
          <li><a href="/products">Productos</a></li>
        </ul>
        
        
    <!--<nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class='container'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">Magas del Sur</a>
        </div>
        <div class="collapse navbar-collapse" id="main-nav-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/about">Quienes somos</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
